.container {
  width: 100%;
  max-width: 275px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background);
  border: 1px solid var(--foreground);
}

.innerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.container:hover {
  cursor: pointer;
  background-color: slategray;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.profilePicture {
  border-radius: 99999px;
}

.userNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-grow: 1;
}

.userName {
  overflow: hidden;
  text-overflow: ellipsis;
}
