:root {
  --background: #ffffff;
  --foreground: #1e2227;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2227;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
