.outterContainer {
  width: 100%;
}
.container {
  margin: auto;
  max-width: 650px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.resultsContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 650px;
  max-height: 600px;
  padding: 20px 0;
  background-color: var(--background);
}

.input {
  padding: 10px;
  font-size: 1.25rem;
  flex-grow: 1;
  border-radius: 10px;
  border: 1px solid var(--foreground);
}

.clearBTN {
  position: absolute;
  right: 20px;
  top: 16px;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0;
  color: var(--foreground);
}

.clearBTN:hover {
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 755px) {
  .resultsContainer {
    max-height: 650px;
    overflow: hidden;
    overflow-y: auto;
  }
}
